# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Microsoft Azure build output
csx/
*.build.csdef

# Windows image file caches
Thumbs.db
ehthumbs.db

# Mac system files
.DS_Store

# DotCover
*.dotCover

# JetBrains
*.DotSettings.user

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings

# Entity Framework
migrations/

# Logs
*.log

# Coverage reports
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# Temporary files
~$*
*.tmp
*.temp

# Others
node_modules/
